body {
    font-family: 'Indie Flower', cursive;
    color: #2b2b2b;
    background-color: #f0f0e1;
    background-image: url(../Images/foodPattern.jpg);
    /* width: 1800px; */
   
}

.ingredient {
    margin: 5px;
}

.jumbotron {
    background-color: green;
    opacity: .9;
    font-style: oblique;
}

.card {
    background-color: #f0f0e1;
    display: inline-block;
}
/*-------------------------------------------------*/

.flip3D {
    
    margin: 5px;
    width: 300px;
    height: 500px;
    
   
    
}
.flip3D > .front {
position: absolute;
-webkit-transform: perspective( 600px ) rotateY(0deg);
transform: perspective(600px) rotateY(0deg);
background: #FC0; width: 400px; height: 500px; border-radius: 7px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transition: transform .5s linear 0s;
}
.flip3D > .back {
    position: absolute;
    -webkit-transform: perspective( 600px ) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: rgb(182, 180, 173); width: 400px; height: 500px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    }
.flip3D:hover> .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);

}
.flip3D:hover> .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    
}

